.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 10px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  width: 150px;
  max-height: 225px;
  object-fit: cover;
  transition: transform 0.2s;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08);
  z-index: 1;
}
